* {
    box-sizing: border-box;
  }
.kollom {
    float: left;
    width: 33.33%;
    padding: 10px;
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
#error{
    background-color:lightpink;
    width: 300px;
    color: red;
}

#geregristreerd{
    background-color: lightgreen;
    width: 300px;
    color: rgb(1, 65, 1);
}
#betalingswijze{
    background-color: lightblue;
    width: 300px;
    color: rgb(59, 59, 253);
}
button {
    background-color:blue ; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;  
    margin-left: 325px;
}

  
  
 